@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

// * {
//   box-sizing: border-box;
// }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #212121;
  line-height: 1.5;
  padding-top: 48px;
  padding-bottom: 44px;
}

.search {
  margin-right: 20px;
  display: flex;
  width: 90%;
  @media screen and (min-width: 480px) {
    width: 60%;
  }
}
.search-term {
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  width: 40px;
  border: none;
  background-color: #f0f0f0;
  text-align: center;
  color: #3f56b3;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 250ms ease-out;
}

.search-button:focus,
.search-button:hover {
  background-color: #f0f0f0e1;
  outline: none;
}

.wrap {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  top: 18;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  border-radius: 0px 0 5px 5px;
  background-color: #3f56b3;
  padding: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
}

.load-more {
  display: block;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1.2;
  border: none;
  background-color: #3f56b3;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 14px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
  margin-top: 20px;
  transition: background-color 250ms ease-out;
}

.load-button:hover,
.load-button:focus {
  background-color: hsl(228, 58%, 57%);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// _______________________________________
a {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 370px;
    height: 248px;
  }

  @media screen and (min-width: 768px) {
    width: 346px;
    height: 230px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 248px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
}

.photo-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 4px;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.per-page {
  color: #ffffff;
  font-size: 18px;
}

#perPage {
  height: 28px;
  border-radius: 5px;
  border: none;
}
